  <%= form_with model:industry do |f| %>
    <div class="form-row align-items-center">
      <div class="col-sm-auto">
        <%= f.text_field :industry_name, placeholder: "業界名", class:"form-control" %>
      </div>
      <div class="col-sm-auto">
        <%= f.submit "保存する", class:"btn btn-info" %>
      </div>
    </div>
  <% end %>
