<div class="row mx-auto my-5">
  <div class="col-sm-10 offset-sm-1">
    <h4 class="text-sm-center">NaviCheckは就活情報の管理アプリです。利用には会員登録が必要です。</h4>
  </div>
</div>

<div class="row mx-auto">
  <%= link_to "新規登録", new_user_registration_path, class:"btn btn-success col-sm-6 offset-sm-3" %>
</div>
<div class="row mx-auto">
  <%= link_to "ログイン", new_user_session_path, class:"btn btn-primary col-sm-6 offset-sm-3" %>
</div>
